@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1B263B;
  color: white;
}

*{
  scroll-behavior: smooth;
}

input::placeholder,
textarea::placeholder{
  color: #3d546b;
}